<div class="task-words">
    {% for word_idx, word, is_active, is_grammared, is_for_display, is_to_delete in task_words %}
        {% if is_active %}
            <div class="task-word" data-word_idx="{{ word_idx }}" data-task_pk="{{ object.pk }}">
                <div class="task-word-box active-word">
                    <div class="cb_pinyin">{{ word.pinyin }}</div>
                    <div class="cb_char">{{ word.char }}</div>
                </div>
                <div class="right-up-btn-box">
                    <button href="" class="btn-close"></button>
                </div>
                <div class="under-word-btn-box form-switch">
                    <input href="" type="checkbox" class="form-check-input word-checkbox" checked>
                </div>
                {% if is_grammared %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input grammar-checkbox" checked>
                    </div>
                {% else %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input grammar-checkbox">
                    </div>
                {% endif %}
                {% if is_for_display %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input display-word-checkbox" checked>
                    </div>
                {% else %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input display-word-checkbox">
                    </div>
                {% endif %}
            </div>

        {% else %}
            <div class="task-word" data-word_idx="{{ word_idx }}" data-task_pk="{{ object.pk }}">
                <div class="task-word-box inactive-word">
                    <div class="cb_pinyin">{{ word.pinyin }}</div>
                    <div class="cb_char">{{ word.char }}</div>
                </div>
                <div class="right-up-btn-box">
                    <button href="" class="btn-close"></button>
                </div>
                <div class="under-word-btn-box form-switch">
                    <input href="" type="checkbox" class="form-check-input word-checkbox">
                </div>
                {% if is_grammared %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input grammar-checkbox" checked>
                    </div>
                {% else %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input grammar-checkbox">
                    </div>
                {% endif %}
                {% if is_for_display %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input display-word-checkbox" checked>
                    </div>
                {% else %}
                    <div class="under-word-btn-box form-switch">
                        <input href="" type="checkbox" class="form-check-input display-word-checkbox">
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>