{% extends 'base.html' %}

{% block content %}

    <h1>Languages:</h1>

    {% if object_list %}
        {% for obj in object_list %}
            <a href="{% url 'adminpanel:lang_update' obj.pk %}">{{ obj }}</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-type="langs" data-pk="{{ obj.pk }}">
                Delete
            </button>
            <br>
        {% endfor %}
    {% else %}
        <h1>No languages yet</h1>
    {% endif %}
    <div>
        <a href="{% url 'adminpanel:lang_create' %}" class="btn btn-success" type="button">Create</a>
    </div>

    {% include 'structure/includes/inn_delete_modal.html' %}


{% endblock %}

