{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'adminpanel:course_update' object.course_id %}">back</a>
    <br>

    <h1>Topic: {{ object }}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
            <br>
        {% endfor %}
        <input type="submit" value="ok">
    </form>

    <h1>Lessons:</h1>
    {% if sub_object_list %}
        {% for obj in sub_object_list %}
            <a href="{% url 'adminpanel:lesson_update' obj.pk %}">{{ obj }}</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-type="lessons" data-pk="{{ obj.pk }}">
                Delete
            </button>
            <br>
        {% endfor %}
    {% else %}
        <p>No subs yet</p>
    {% endif %}

    <div>
        <a href="{% url 'adminpanel:lesson_create' %}" class="btn btn-success" type="button">Create</a>
    </div>

    {% include 'structure/includes/inn_delete_modal.html' %}

{% endblock %}