{% extends 'base.html' %}

{% block title %}
    <title> {{ title | title }}</title>
{% endblock %}

{% block content %}

    <a href="{% url 'admin_panel:lang_update' pk=request.session.lang_id %}" type="button" class="btn btn-primary">Back</a>

    <div class="header-text">
        <h1>Course:</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="back" value="Update">
    </form>

    {% if course.pk %}
        <button href="{% url 'admin_panel:course_delete' course.pk %}" type="button" class="btn btn-danger">Delete</button>

        <h2>Topics:</h2>
        <div class="list-group">
            {% for topic in topics %}
                <a href="{% url 'admin_panel:topic_update' topic.pk %}" class="list-group-item">{{ topic }}</a>
            {% endfor %}
        </div>

        <a class="btn btn-primary" href="{% url 'admin_panel:topic_create' %}">add topic</a>
    {% endif %}




{% endblock %}