{% extends 'base.html' %}

{% block title %}<title>{{ title|title }}</title>{% endblock %}

{% block content %}

    <h1>Languages:</h1>

    {% if lang_list %}

        {% for lang in lang_list %}
            {% if lang.pk %}
                <a href="{% url 'admin_panel:lang_update' lang.pk %}" class="list-group-item">{{ lang }}</a>
            {% endif %}
        {% endfor %}

    {% else %}
        <h1>No languages yes</h1>
    {% endif %}

    <a href="{% url 'admin_panel:lang_create' %}" class="btn btn-success" type="button">Create</a>


{% endblock %}