{% extends 'base.html' %}

{% block title %}
    <title> {{ title | title }}</title>
{% endblock %}

{% block content %}

    <a href="{% url 'admin_panel:course_update' pk=request.session.course_id %}" type="button" class="btn btn-primary">Back</a>

    <div class="header-text">
        <h1>Topic:</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="back" value="Update">
    </form>

    {% if topic.pk %}
        <button href="{% url 'admin_panel:topic_delete' topic.pk %}" type="button" class="btn btn-danger">Delete</button>

        <h2>Lessons:</h2>
        <div class="list-group">
            {% for lesson in lessons %}
                <a href="{% url 'admin_panel:lesson_update' lesson.pk %}" class="list-group-item">{{ lesson }}</a>
            {% endfor %}
        </div>

{#        <a class="btn btn-primary" href="{% url 'admin_panel:lesson_create' %}">add lesson</a>#}
    {% endif %}




{% endblock %}