{% extends 'base.html' %}

{% block title %}
	{{ task_type.id }}_{{ task_type.name }}
{% endblock %}


{% block content %}

	<div class="header dialog-task-type">

		<form method="POST">
			{{ back_btn.hidden_tag() }}
			<div class="back-btn-box">
				{{ back_btn.back(class="back-btn-small") }}
			</div>
		</form>

		<div class="header-text">
			<p class="display-5 fw-bold">{{ task_type.id }}_{{ task_type.name }}</p>
			<p>{{ task }}</p>
		</div>
	</div>

	<p class="display-6">sent_char_A:</p>
	<p class="display-6">sent_pinyin_A:</p>

	<div class="task-words">
		{% for word in task_words %}
			{% set word_ind = task_words.index(word) %}
			{% if word.id in active_task_words_id_list %}

				<div class="task-word">
					<div class="task-word-box active-word">
						<div class="cb_pinyin">{{ word.pinyin }}</div>
						<div class="cb_char">{{ word.char }}</div>
					</div>

					<div class="right-up-btn-box">
						<a href="{{ url_for('structure.remove_from_task_word', task_id=task.id, word_id=word.id) }}">
							<button class="btn-close"></button>
						</a>
					</div>
					<div class="under-word-btn-box form-switch">
						<input href="javascript://" type="checkbox" class="form-check-input active-word-checkbox"
						       checked
						       onchange="Sijax.request('act_deact_word_req', [{{ word.id }}]);">
					</div>

					{% if task_grammars_id_list[word_ind] != 0 %}
						<div class="under-word-btn-box form-switch">
							<input href="javascript://" type="checkbox" class="form-check-input active-grammar-checkbox"
							       checked
							       onchange="Sijax.request('prepare_to_task_to_grammar_req', [{{ word.id }}]);">
						</div>
					{% else %}
						<div class="under-word-btn-box form-switch">
							<input href="javascript://" type="checkbox" class="form-check-input"
							       onchange="Sijax.request('prepare_to_task_to_grammar_req', [{{ word.id }}]);">
						</div>
					{% endif %}

				</div>

			{% else %}
				<div class="task-word">
					<div class="task-word-box inactive-word">
						<div class="ib_pinyin">{{ word.pinyin }}</div>
						<div class="ib_char">{{ word.char }}</div>
					</div>
					<div class="right-up-btn-box">
						<a href="{{ url_for('structure.remove_from_task_word', task_id=task.id, word_id=word.id) }}">
							<button class="btn-close"></button>
						</a>
					</div>
					<div class="under-word-btn-box form-switch">
						<input href="javascript://" type="checkbox" class="form-check-input"
						       onchange="Sijax.request('act_deact_word_req', [{{ word.id }}]);">
					</div>

					{% if task_grammars_id_list[word_ind] != 0 %}
						<div class="under-word-btn-box form-switch">
							<input href="javascript://" type="checkbox" class="form-check-input active-grammar-box"
							       checked
							       onchange="Sijax.request('prepare_to_task_to_grammar_req', [{{ word.id }}]);">
						</div>
					{% else %}
						<div class="under-word-btn-box form-switch">
							<input href="javascript://" type="checkbox" class="form-check-input"
							       onchange="Sijax.request('prepare_to_task_to_grammar_req', [{{ word.id }}]);">
						</div>
					{% endif %}

					{% if task.elements.get('grammar_id') and task.elements.get('grammar_id')[word_ind] != 0 %}
						{{ task_grammars[word_ind] }}
					{% endif %}

				</div>

			{% endif %}
		{% endfor %}
	</div>

	<p class="display-6">search_elements:</p>

	<form class="d-flex nav-item my-lg-0" method="GET">
		<input class="form-control me-2" type="search" placeholder="Search" name="search_key">
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>

	<div class="search_elems">
		<div class="search_grammars">
			{% for grammar in grammars[:5] %}
				<div class="list-group">
					<a href="{{ url_for('structure.add_to_task_grammar', task_id=task.id, grammar_id=grammar.id) }}"
					   class="list-group-item list-group-item-action ">{{ grammar }}</a>
				</div>
			{% endfor %}

			<form method="POST">
				{{ button_add_grammar.hidden_tag() }}
				<div class="d-grid">
					{{ button_add_grammar.add_grammar(class="btn btn_add") }}
				</div>
			</form>
		</div>

		<div class="search_words">
			{% for word in words[:5] %}
				<div class="list-group">
					<a href="{{ url_for('structure.add_to_task_word', task_id=task.id, word_id=word.id) }}"
					   class="list-group-item list-group-item-action ">{{ word }}</a>
				</div>
			{% endfor %}

			<form method="POST">
				{{ button_add_word.hidden_tag() }}
				<div class="d-grid">
					{{ button_add_word.add_word(class="btn btn_add") }}
				</div>
			</form>
		</div>
	</div>

	<form method="POST">
		{{ right_sent_A_form.hidden_tag() }}
		<p class="display-6">sent_lang_A:</p>
		{{ right_sent_A_form.sent_lang_A(class="form-control", placeholder=sent_lang_A) }}
		<p class="display-6">sent_lit_A:</p>
		{{ right_sent_A_form.sent_lit_A(class="form-control", placeholder=sent_lit_A) }}
		{{ right_sent_A_form.submit_A }}
	</form>

	<p class="display-6">sent_audio_A:</p>
	<audio controls class="mb_10 ml_mr_auto br_20 shadow_light">
		<source src="{{ url_for('static', filename='audio/' + sent_A_audio_name) }}">
	</audio>





	<p class="display-6">active_elements:</p>

	<div class="active-elements">
		{% for word in active_task_words %}
			<div class="task-word-box active-word">
				<div>
					<div class="cb_pinyin">{{ word.pinyin }}</div>
					<div class="cb_char">{{ word.char }}</div>
				</div>
			</div>
		{% endfor %}

		{% for grammar in task_grammars %}
			{% if grammar.id in task_grammars_id_list %}
				<div class="task-grammar-box active-grammar">
					<div>
						<div class="cb_pinyin">{{ grammar.pinyin }}</div>
						<div class="cb_name">{{ grammar.name }}</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<form method="POST" enctype="multipart/form-data">
		{{ sent_A_audio_form.hidden_tag() }}
		{{ sent_A_audio_form.sent_A_audio(class="form-control") }}
		{{ sent_A_audio_form.upload_sent_A_audio }}
	</form>

	<form method="POST">
		{{ right_sent_B_form.hidden_tag() }}
		<p class="display-6">sent_char_B:</p>
		{{ right_sent_B_form.sent_char_B(class="form-control", placeholder=sent_char_B) }}
		<p class="display-6">sent_pinyin_B:</p>
		{{ right_sent_B_form.sent_pinyin_B(class="form-control", placeholder=sent_pinyin_B) }}
		<p class="display-6">sent_lang_B:</p>
		{{ right_sent_B_form.sent_lang_B(class="form-control", placeholder=sent_lang_B) }}
		<p class="display-6">sent_lit_B:</p>
		{{ right_sent_B_form.sent_lit_B(class="form-control", placeholder=sent_lit_B) }}
		{{ right_sent_B_form.submit_B }}
	</form>

	<p class="display-6">sent_audio_B:</p>
	<audio controls class="mb_10 ml_mr_auto br_20 shadow_light">
		<source src="{{ url_for('static', filename='audio/' + sent_B_audio_name) }}">
	</audio>

	<form method="POST" enctype="multipart/form-data">
		{{ sent_B_audio_form.hidden_tag() }}
		{{ sent_B_audio_form.sent_B_audio(class="form-control") }}
		{{ sent_B_audio_form.upload_sent_B_audio }}
	</form>

	<p class="display-6">sent_A?</p>

	<div class="task-sents">
		<div class="right-sent-box">
			<div class="rs_pinyin-box">
				{{ right_sent_pinyin }}
			</div>
			<div class="rs_char-box">
				{{ right_sent_char }}
			</div>
		</div>



		{% for wrong_sent in wrong_sent_lst %}
			<div class="wrong-sent-box">
				<div class="ws_pinyin">
					{{ wrong_sent[0] }}
				</div>
				<div class="ws_char">
					{{ wrong_sent[1] }}
				</div>
				<div class="right-up-btn-box">
					<a href="{{ url_for('structure.remove_from_task_wrong_sent', task_id=task.id, sent_idx=wrong_sent_lst.index(wrong_sent)) }}">
						<button class="btn-close"></button>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>


	<form method="POST">
		{{ add_wrong_sent_form.hidden_tag() }}
		{{ add_wrong_sent_form.sent_pinyin(class="form-control", placeholder="wrong_sent_pinyin") }}
		{{ add_wrong_sent_form.sent_char(class="form-control", placeholder="wrong_sent_char") }}
		<div class="d-grid">
			{{ add_wrong_sent_form.add_wrong_sent(class="btn btn_add") }}
		</div>
	</form>

	<p class="display-6">sent_B:</p>

	<div class="sent-B-box">
		<div class="sb_pinyin-box">
			{{ sent_pinyin_B }}
		</div>
		<div class="sb_char-box">
			{{ sent_char_B }}
		</div>
	</div>

	<form method="POST">
		{{ button_delete_task.hidden_tag() }}
		<div class="d-grid">
			{{ button_delete_task.delete(class="btn btn_del") }}
		</div>
	</form>

{% endblock %}