{% extends 'base.html' %}

{% block title %}
    {{ task_type.id }}_{{ task_type.name }}
{% endblock %}

{% block content %}

    <!-- header -->
    <div class="header puzzle-task-type">
        {% include 'structure/tasks/includes/task_header.html' %}
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- task words -->
        <p class="display-6 mt-5">task_words:</p>
        <div class="task-words">
            {% include 'structure/tasks/includes/task_words_active_words_grammared_words.html' %}
        </div>

        <!-- search elements -->
        <p class="display-6 mt-5">search_elements:</p>
        <div class="search_elems">
            <div class="search_words">
                {% include 'structure/tasks/includes/search_words.html' %}
            </div>
            <div class="search_grammars">
                {% include 'structure/tasks/includes/search_grammars.html' %}
            </div>
        </div>


        {# sent_lang_A #}
        <p class="display-6 mt-5">sent_lang:</p>
        {{ form.sent_lang_A }}

        {# sent_lit_A #}
        <p class="display-6">sent_lit:</p>
        {{ form.sent_lit_A }}

        {# sent_audio #}
        <p class="display-6">sent_audio:</p>
        <div class="sent-audio-A">
            {% include 'structure/tasks/includes/sent_audio_a.html' %}
        </div>
        {{ form.sent_audio_A }}
        {{ form.sent_audio_A_url }}

        {#   right_words #}
        <p class="display-6">lang_puzzle_words_right:</p>
        <div class="lang-puzzle-words-right mt-5">
            {% include 'structure/tasks/includes/lang_puzzle_words_right.html' %}
        </div>
        {{ form.lang_puzzle_word_right }}
        <!-- submit btn -->
        <div class="d-grid">
            <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
        </div>

        {#   wrong_words #}
        <p class="display-6">lang_puzzle_words_wrong:</p>
        <div class="lang-puzzle-words-wrong mt-5">
            {% include 'structure/tasks/includes/lang_puzzle_words_wrong.html' %}
        </div>
        {{ form.lang_puzzle_word_wrong }}
        <!-- submit btn -->
        <div class="d-grid">
            <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
        </div>
    </form>

    <!-- active elements -->
    <p class="display-6">active_elements:</p>
    <div class="active-elements">
        {% include 'structure/tasks/includes/active_elements.html' %}
    </div>

    <!-- delete btn -->
    <div class="d-grid">
        <button type="button" class="btn_del" data-bs-toggle="modal" data-bs-target="#exampleModal" data-type="tasks"
                data-pk="{{ object.pk }}" data-app="structure"></button>
    </div>
    {% include 'includes/inn_delete_modal.html' %}


    <script src="{{ STATIC_PREFIX }}js/activate_word.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/activate_grammar.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/activate_word_to_display.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/remove_element.js" defer></script>

    <script src="{{ STATIC_PREFIX }}js/add_element.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/remove_sent_image.js" defer></script>

    <script src="{{ STATIC_PREFIX }}js/search_word.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/search_grammar.js" defer></script>

    <script src="{{ STATIC_PREFIX }}js/search_wrong_word.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/add_wrong_word.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/remove_wrong_word.js" defer></script>

    <script src="{{ STATIC_PREFIX }}js/remove_puzzle_word.js" defer></script>


{% endblock %}