{% extends 'base.html' %}

{% block title %}
    {{ task_type.id }}_{{ task_type.name }}
{% endblock %}


{% block content %}

    <!-- header -->
    <div class="header words-task-type">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{% url 'adminpanel:word_update' object.word.pk %}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">{{ object.get_task_type_display }}</h1>
            <p>{{ object }}</p>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- active elements -->
        <p class="display-6">active_elements:</p>
        <div class="active-elements">
            <div class="task-word-box active-word">
                <div>
                    <div class="cb_pinyin">{{ object.word.pinyin }}</div>
                    <div class="cb_char">{{ object.word.char }}</div>
                </div>
            </div>
        </div>

        <!-- task video -->
        <p class="display-6">task_video:</p>
        <div class="task-video">
            {% include 'structure/tasks/includes/task_video.html' %}
        </div>
        {{ form.video }}
        {{ form.video_url }}

        <!-- submit btn -->
        <div class="d-grid">
            <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
        </div>

        <!-- task words -->
        <p class="display-6 mt-5">task_words:</p>
        <div class="task-words">
            {% include 'structure/tasks/includes/task_words_to_display_words.html' %}
        </div>

        <!-- search elements -->
        <p class="display-6 mt-5">search_elements:</p>
        <div class="search_elems">
            <div class="search_words">
                {% include 'structure/tasks/includes/search_words.html' %}
            </div>
        </div>

        {# sent_lang_A #}
        <p class="display-6 mt-5">sent_lang:</p>
        {{ form.sent_lang_A }}

        {# sent_lit_A #}
        <p class="display-6">sent_lit:</p>
        {{ form.sent_lit_A }}

        {# sent_audio_A #}
        <div class="sent-audio-A mt-5">
            {% include 'structure/tasks/includes/sent_audio_a.html' %}
        </div>
        {{ form.sent_audio_A }}
        {{ form.sent_audio_A_url }}

        <!-- submit btn -->
        <div class="d-grid">
            <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
        </div>
    </form>


    <!-- delete btn -->
    <div class="d-grid">
        <button type="button" class="btn_del" data-bs-toggle="modal" data-bs-target="#exampleModal" data-type="tasks"
                data-pk="{{ object.pk }}" data-app="structure"></button>
    </div>
    {% include 'includes/inn_delete_modal.html' %}


    <script src="{{ STATIC_PREFIX }}js/activate_word.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/remove_element.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/add_element.js" defer></script>

    <script src="{{ STATIC_PREFIX }}js/search_word.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/search_grammar.js" defer></script>

{% endblock %}
