{% extends 'base.html' %}

{% block title %}
    {{ task_type.id }}_{{ task_type.name }}
{% endblock %}


{% block content %}

    <!-- header -->
    <div class="header puzzle-task-type">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{% url 'adminpanel:grammar_update' object.grammar.pk %}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">{{ object.get_task_type_display }}</h1>
            <p>{{ object }}</p>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- active elements -->
        <p class="display-6">active_elements:</p>
        <div class="active-elements">
            <div class="task-word-box active-grammar">
                <div>
                    <div class="cb_pinyin">{{ object.grammar.pinyin }}</div>
                    <div class="cb_name">{{ object.grammar.name }}</div>
                </div>
            </div>
        </div>

        <!-- task video -->
        <p class="display-6">task_video:</p>
        <div class="task-video">
            {% include 'structure/tasks/includes/task_video.html' %}
        </div>
        {{ form.video }}
        {{ form.video_url }}

        <!-- submit btn -->
        <div class="d-grid">
            <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
        </div>


        {# sent_pinyin_A #}
        <p class="display-6 mt-5">sent_pinyin:</p>
        {{ form.sent_pinyin_A }}

        {# sent_char_A #}
        <p class="display-6">sent_char:</p>
        {{ form.sent_char_A }}

        {# sent_lang_A #}
        <p class="display-6">sent_lang:</p>
        {{ form.sent_lang_A }}

        {# sent_lit_A #}
        <p class="display-6">sent_lit:</p>
        {{ form.sent_lit_A }}

        {# sent_audio_A #}
        <div class="sent-audio-A mt-5">
            {% include 'structure/tasks/includes/sent_audio_a.html' %}
        </div>
        {{ form.sent_audio_A }}
        {{ form.sent_audio_A_url }}

        <!-- submit btn -->
        <div class="d-grid">
            <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
        </div>
    </form>


    <!-- delete btn -->
    <div class="d-grid">
        <button type="button" class="btn_del" data-bs-toggle="modal" data-bs-target="#exampleModal" data-type="tasks"
                data-pk="{{ object.pk }}" data-app="structure"></button>
    </div>
    {% include 'includes/inn_delete_modal.html' %}


{% endblock %}
