{% extends 'base.html' %}

{% block title %}
    {{ task_type.id }}_{{ task_type.name }}
{% endblock %}

{% block content %}

    <div class="header words-task-type">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{% url 'adminpanel:lesson_update' object.lesson.pk %}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">{{ object.get_task_type_display }}</h1>
            <p>{{ object }}</p>
        </div>
    </div>

    <p class="display-6">task_video:</p>

    {#  form #}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">

            {% if object.video %}
                <video class="video" src="{{ object.video.url }}" alt="ooops" controls></video>
            {% else %}
                <video class="video" src="" controls></video>
            {% endif %}

        {% for foo in video_form %}
        {{ foo }}
        {% endfor %}

{#            {{ video_form.video }}#}
{#            {{ video_form.video_url }}#}

            <div class="d-grid">
                <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
            </div>
    </form>

    <p class="display-6">task_words:</p>

    {% include 'structure/tasks/includes/task_words.html' %}

    <p class="display-6">active_elements:</p>

    {% include 'structure/tasks/includes/active_elements.html' %}

    <p class="display-6">search_elements:</p>

    <div class="search_elems">
        <div class="search_words">
            {% for word in words %}
                <div class="list-group" data-task_pk="{{ object.pk }}">
                    <a href="" class="list-group-item list-group-item-action word-to-add"
                       data-word_id="{{ word.pk }}">{{ word }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- delete btn -->
    <div class="d-grid">
        <button type="button" class="btn_del" data-bs-toggle="modal" data-bs-target="#exampleModal" data-type="tasks"
                data-pk="{{ object.pk }}" data-app="structure"></button>
    </div>
    {% include 'includes/inn_delete_modal.html' %}


    <script src="{{ STATIC_PREFIX }}js/activate_element.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/remove_element.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/add_element.js" defer></script>

{% endblock %}
