{% extends 'base.html' %}

{% block title %}
	{{ task_type.id }}_{{ task_type.name }}
{% endblock %}


{% block content %}

	<div class="header words-task-type">
		<form method="POST">
			{{ back_btn.hidden_tag() }}
			<div class="back-btn-box">
				{{ back_btn.back(class="back-btn-small") }}
			</div>
		</form>

		<div class="header-text">
			<p class="display-5 fw-bold">{{ task_type.id }}_{{ task_type.name }}</p>
			<p>{{ task }}</p>
		</div>
	</div>

	<p class="display-6">task_video:</p>
	<video class="video" src="{{ url_for(endpoint='static', filename='video/'+ video_name) }}" controls></video>

	<form method="POST" enctype="multipart/form-data">
		{{ upload_video_form.hidden_tag() }}
		{{ upload_video_form.video(class="form-control") }}
		{{ upload_video_form.upload }}
	</form>

	<p class="display-6">task_words:</p>

	<div class="task-words">
		{% for word in task_words %}
			{% set word_ind = task_words.index(word) %}
			{% if word.id in active_task_words_id_list %}

				<div class="task-word">
					<div class="task-word-box active-word">
						<div class="cb_pinyin">{{ word.pinyin }}</div>
						<div class="cb_char">{{ word.char }}</div>
					</div>

					<div class="right-up-btn-box">
						<a href="{{ url_for('structure.remove_from_task_word', task_id=task.id, word_id=word.id) }}">
							<button class="btn-close"></button>
						</a>
					</div>
					<div class="under-word-btn-box form-switch">
						<input href="javascript://" type="checkbox" class="form-check-input active-word-checkbox"
						       checked
						       onchange="Sijax.request('act_deact_word_req', [{{ word.id }}]);">
					</div>

				</div>

			{% else %}
				<div class="task-word">
					<div class="task-word-box inactive-word">
						<div class="ib_pinyin">{{ word.pinyin }}</div>
						<div class="ib_char">{{ word.char }}</div>
					</div>
					<div class="right-up-btn-box">
						<a href="{{ url_for('structure.remove_from_task_word', task_id=task.id, word_id=word.id) }}">
							<button class="btn-close"></button>
						</a>
					</div>
					<div class="under-word-btn-box form-switch">
						<input href="javascript://" type="checkbox" class="form-check-input"
						       onchange="Sijax.request('act_deact_word_req', [{{ word.id }}]);">
					</div>

				</div>

			{% endif %}
		{% endfor %}
	</div>

	<p class="display-6">active_elements:</p>

	<div class="active-elements">
		{% for word in active_task_words %}
			<div class="task-word-box active-word">
				<div>
					<div class="cb_pinyin">{{ word.pinyin }}</div>
					<div class="cb_char">{{ word.char }}</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="search_elems">
		<div class="search_words">
			{% for word in words[:5] %}
				<div class="list-group">
					<a href="{{ url_for('structure.add_to_task_word', task_id=task.id, word_id=word.id) }}"
					   class="list-group-item list-group-item-action ">{{ word }}</a>
				</div>
			{% endfor %}

			<form method="POST">
				{{ button_add_word.hidden_tag() }}
				<div class="d-grid">
					{{ button_add_word.add_word(class="btn btn_add") }}
				</div>
			</form>
		</div>
	</div>

	<form method="POST">
		{{ button_delete_task.hidden_tag() }}
		<div class="d-grid">
			{{ button_delete_task.delete(class="btn btn_del") }}
		</div>
	</form>

{% endblock %}