{% extends 'base.html' %}

{% block title %}
    {{ task_type.id }}_{{ task_type.name }}
{% endblock %}

{% block content %}

    <!-- header -->
    <div class="header words-task-type">
        {% include 'structure/tasks/includes/task_header.html' %}
    </div>

    {#  form #}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">

            <!-- task video -->
            <p class="display-6">task_video:</p>
            <div class="task-video">
                {% include 'structure/tasks/includes/task_video.html' %}
            </div>
            {{ form.video }}
            {{ form.video_url }}

            <!-- submit btn -->
            <div class="d-grid">
                <input type="submit" class="btn btn_ok mt-2 mb-2" value=""></input>
            </div>
        </div>
    </form>

    <!-- task words -->
    <p class="display-6 mt-5">task_words:</p>
    <div class="task-words">
        {% include 'structure/tasks/includes/task_words_active_words.html' %}
    </div>

    <!-- search elements -->
    <p class="display-6">search_elements:</p>
    <div class="search_elems">
        <div class="search_words">
            {% include 'structure/tasks/includes/search_words.html' %}
        </div>
    </div>

    <!-- active elements -->
    <p class="display-6">active_elements:</p>
    <div class="active-elements">
        {% include 'structure/tasks/includes/active_elements.html' %}
    </div>

    <!-- delete btn -->
    <div class="d-grid">
        <button type="button" class="btn_del" data-bs-toggle="modal" data-bs-target="#exampleModal" data-type="tasks"
                data-pk="{{ object.pk }}" data-app="structure"></button>
    </div>
    {% include 'includes/inn_delete_modal.html' %}


    <script src="{{ STATIC_PREFIX }}js/activate_word.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/remove_element.js" defer></script>
    <script src="{{ STATIC_PREFIX }}js/add_element.js" defer></script>

    <script src="{{ STATIC_PREFIX }}js/search_word.js" defer></script>

{% endblock %}
