{% extends 'base.html' %}

{% block title %}
	{{ task_type.id }}_{{ task_type.name }}
{% endblock %}


{% block content %}

    <div class="header sent-task-type">
        <div class="back-btn-box">
            <a class="back-btn-small" href="{% url 'adminpanel:lesson_update' object.lesson.pk %}"></a>
        </div>
        <div class="header-text">
            <h1 class="display-5 fw-bold">{{ object.get_task_type_display }}</h1>
            <p>{{ object }}</p>
        </div>
    </div>

	<p class="display-6">task_sents / wrong_sents:</p>

	<p class="display-6">task_words:</p>

		<p class="display-6">sent_lang:</p>

		<p class="display-6">sent_lit:</p>


	<p class="display-6">sent_audio:</p>

	<p class="display-6">active_elements:</p>

	<p class="display-6">search_elements:</p>


{% endblock %}